.App {
  /* text-align: center; */
}

body {
  /* clip-path: polygon(0 0, 50% 0, 100% 49%, 50% 100%, 0 100%, 36% 48%); */
  background-color: #124E78;
  color: #FFF;
  max-width: 1366px;
  margin: auto
}

nav {
  /* height: 8vh; */
  /* display: flex; */
  /* justify-content: space-between; */
  /* align-items: center; */
  background: rgb(108, 108, 121);
  color: white;
}

.nav-links {
  /* width: 100%; */  
  /* display: flex; */
  /* justify-content: space-between; */
  align-items: center;
  list-style: none;
}

.li-style {
  color: white;
  text-decoration: none;
}

.nav-button {
  background: #F2BB05;
  color: #000;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  
}

.nav-button:hover {
  background: #D74E09;
  color: #FFF;
}

.nav-button-disable {
  display: none;
}

.app-button {
  background: #F2BB05;
  color: #000;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  width: 250px;
}

.app-button:hover {
  background: #D74E09;
  color: #FFF;
}

input {
  height: 25px;
  width: 250px;
}